HELP.md
target/
!customer-service/.mvn/wrapper/maven-wrapper.jar
!tests/smoke-tests/src/main/**/target/
!tests/smoke-tests/src/test/**/target/
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!tests/smoke-tests/src/main/**/build/
!tests/smoke-tests/src/test/**/build/

### VS Code ###
.vscode/
